.frame-12 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 422px;
  width: 550px;
}

.frame-4 {
  align-items: center;
  background-color: 
#21222a;
  display: flex;
  height: 91px;
  min-width: 550px;
  padding: 0 26px;
}

.frame-3 {
  align-items: flex-start;
  display: flex;
  min-width: 157px;
}

.reactjs-icon {
  height: 29px;
  margin-top: 0;
  width: 29px;
}

.react-facts {
  letter-spacing: -1.11px;
  margin-left: 6px;
  min-height: 22px;
  width: 122px;
}

.extra-title {
  letter-spacing: 0;
  margin-left: 82px;
  min-height: 21px;
  text-align: right;
  width: 259px;
}

.frame-11 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 59px;
  min-height: 272px;
  width: 482px;
}

.h1-title {
  letter-spacing: -1.95px;
  min-height: 41px;
  width: 424px;
}

.frame-10 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  min-height: 195px;
  width: 482px;
}

.frame-5 {
  align-items: center;
  display: flex;
  height: 19px;
  min-width: 218px;
}

.ellipse-1 {
  background-color: var(--turquoise-blue);
  border-radius: 4.8px;
  height: 10px;
  width: 10px;
}

.was-first-released-in-2013 {
  letter-spacing: 0;
  margin-left: 13px;
  min-height: 19px;
  min-width: 195px;
}

.frame-6 {
  align-items: center;
  display: flex;
  height: 19px;
  margin-top: 20px;
  min-width: 319px;
}

.was-originally-created-by-jordan-walke {
  letter-spacing: 0;
  margin-left: 13px;
  min-height: 19px;
  min-width: 296px;
}

.frame-7 {
  align-items: center;
  display: flex;
  height: 19px;
  margin-top: 20px;
  min-width: 290px;
}

.has-well-over-100-k-stars-on-git-hub {
  letter-spacing: 0;
  margin-left: 13px;
  min-height: 19px;
  min-width: 267px;
}

.frame-8 {
  align-items: center;
  display: flex;
  height: 19px;
  margin-top: 20px;
  min-width: 226px;
}

.is-maintained-by-facebook {
  letter-spacing: 0;
  margin-left: 13px;
  min-height: 19px;
  min-width: 203px;
}

.frame-9 {
  align-items: flex-start;
  display: flex;
  height: 38px;
  margin-top: 20px;
  min-width: 442px;
}

.surname {
  letter-spacing: 0;
  margin-left: 13px;
  min-height: 38px;
  width: 373px;
}

@import url("https://fonts.googleapis.com/css?family=Inter:400,700");