/* Variables */
:root {
  --black: 
rgba(0, 0, 0, 1);
  --turquoise-blue: 
rgba(97, 218, 251, 1);
  --link-water: 
rgba(222, 235, 248, 1);
  --white: 
rgba(255, 255, 255, 1);

  --font-size-m: 16px;
  --font-size-l: 22.3px;
  --font-size-xl: 39.1px;

  --font-family-inter: "Inter";
}



.inter-normal-link-water-16px {
  color: var(--link-water);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.inter-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.inter-bold-white-39-1px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 700;
  font-style: normal;
}
.inter-bold-turquoise-blue-22-3px {
  color: var(--turquoise-blue);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 700;
  font-style: normal;
}